<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Password Reset Confirmation - Travel Tailor</title>
    <style>
        /* Votre CSS associé ici */
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
        }
        
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        .header {
            text-align: center;
            margin-bottom: 30px;
        }
        
        .header img {
            max-width: 150px;
        }
        
        .content {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 30px;
        }
        
        .cta-button {
            display: inline-block;
            background-color: #007bff;
            color: #ffffff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{{url}}//next.svg" alt="Travel Tailor Logo">
            <h1>Password Reset Confirmation - Travel Tailor</h1>
        </div>
        <div class="content">
            <p>Dear {{reciever}},</p>
            <p>Your password has been successfully reset for your Travel Tailor account.</p>
            <p>If you did not perform this action, please contact our support team immediately at support@travel-tailor.com.</p>
            <p>You can now log in using your new password and continue managing your travel activities.</p>
            <p>
                <a href="{{url}}/signin" class="cta-button">SignIn</a>
            </p>
            <p>If you have any questions or need further assistance, feel free to contact our support team.</p>
            <p>Best regards,</p>
            <p>The Travel Tailor Team</p>
        </div>
    </div>
</body>
</html>
