.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 6rem;
}

@media all and (min-width: 1024px) {
    .navbar {
        padding: 0 8rem;
    }
}