.form {
    display: flex;
    flex-direction: column;
    grid-column: 4 span / 4 span;
}

@media all and (min-width: 768px) {
    .form {
        grid-column: 8 span / 8 span;
    }
}

@media all and (min-width: 1024px) {
    .form {
        grid-column: 12 span / 12 span;
    }
}